
# /client/trunk/
/client/trunk/config.ini
/client/trunk/shots

# /client/trunk/flickrapi/
/client/trunk/flickrapi/*.pyc

# /server/trunk/nerdstream/
/server/trunk/nerdstream/*.pyc

# /server/trunk/nerdstream/nerdstream/
/server/trunk/nerdstream/nerdstream/*.pyc

# /server/trunk/nerdstream/nerdstream/media/
/server/trunk/nerdstream/nerdstream/media/*.pyc

# /server/trunk/nerdstream/nerdstream/media/css/
/server/trunk/nerdstream/nerdstream/media/css/*.pyc

# /server/trunk/nerdstream/nerdstream/media/js/
/server/trunk/nerdstream/nerdstream/media/js/*.pyc

# /server/trunk/nerdstream/nerdstream/register/
/server/trunk/nerdstream/nerdstream/register/*.pyc

# /server/trunk/nerdstream/nerdstream/templates/
/server/trunk/nerdstream/nerdstream/templates/*.pyc
