#CP_hourcont{padding:0px;position:absolute;border:1px dashed #666;background-color:#EEE;display:none;}
#CP_minutecont{background-color:#DDD;padding:1px;position:absolute;width:45px;display:none;}
.floatleft{float:left;}
.CP_hour{padding:1px;font-family:Arial,Helvetica,sans-serif;font-size:9px;white-space:nowrap;cursor:pointer;width:35px;}
.CP_minute{padding:1px;font-family:Arial,Helvetica,sans-serif;font-size:9px;white-space:nowrap;cursor:pointer;width:auto;}
.CP_over{background-color:#FFF;}
