#create_form label, #create_form input, #create_form button{
	font-size: 1.5em;
	float: left;
	clear: left;
}

#create_form input, #create_form button{
	width: 400px;
	display: block;
	border: 1px solid #999;
	margin-bottom: 0.5em;
	padding: 5px;
}

#create_form button{
	background-color: #EEE;
}
#create_form input{
	width: 388px;
}

#create_form label{
	width: 200px;
}